@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/header.css';
@import './styles/scrollbar.css';
@import './styles/range.css';

html {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(16px, calc(1rem + ((1vw - 8px) * 0.6944)), 24px);
    text-align: center;
    color: white;
}

body {
    padding-right: 0 !important;
    overflow-y: scroll !important;
}

h1 {
    @apply text-4xl font-bold;
}

input {
    @apply inline-block text-black border border-black/50 rounded-full text-center text-sm font-light focus:outline-2 outline-blue;
}

hr {
    opacity: 0.5;
}

.container {
    @apply max-w-[95%] lg:max-w-[70%] mx-auto;
}
